<link rel="stylesheet" href="/stylesheets/landingpage.css">

<div id="carouselExampleControls" class="carousel slide custom-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/Carousel/1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/Carousel/2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/Carousel/3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/Carousel/4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid">
    <img src="/images/Banners/Products.png" alt="" class="banner">
  </div>
  <div class="container-fluid2 d-flex">
   <div class="card" style="width: 10rem;">
      <img src="/images/Icons/PS5.png" class="card-img-top" alt="...">
      <a href="/consoles2"><div class="card-name">PLAYSTATION</div></a>
    </div>
    <div class="card" style="width: 10rem;">
      <img src="/images/Icons/XBOX.png" class="card-img-top" alt="...">
      <a href="/consoles2"> <div class="card-name">XBOX</div></a>
    </div>
    <div class="card" style="width: 10rem;">
        <img src="/images/Icons/Games.png" class="card-img-top" alt="...">
        <a href="/dashboard"><div class="card-name">VIDEO GAMES</div>
      </div></a>
      <div class="card" style="width: 10rem;">
        <img src="/images/Icons/Card.png" class="card-img-top" alt="...">
        <div class="card-name">GPU</div>
      </div>
      <div class="card" style="width: 10rem;">
        <img src="/images/Icons/Headset.png" class="card-img-top" alt="...">
        <div class="card-name">ACCESSORIES</div>
      </div>
  </div>
  <div class="container-fluid">
    <img src="/images/Banners/Deals.png" alt="" class="banner">
  </div>
  <div id="carouselExampleControls2" class="carousel slide custom-carousel2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/Carousel/S1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/Carousel/S2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/Carousel/S3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/images/Carousel/S4.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-fluid">
    <img src="/images/Banners/Release.png" alt="" class="banner">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card2">
          <img src="/images/Cards/1.png" class="card-img-top" alt="Image 1" style="width: 100%; height: auto;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card2">
          <img src="/images/Cards/2.png" class="card-img-top" alt="Image 2" style="width: 100%; height: auto;">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card2">
          <img src="/images/Cards/3.png" class="card-img-top" alt="Image 3" style="width: 100%; height: auto;">
        </div>
      </div>
      <div class="col-md-6">
        <div class="card2">
          <img src="/images/Cards/4.png" class="card-img-top" alt="Image 4" style="width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <img src="/images/Banners/About.png" alt="" class="banner">
  </div>
  <div class="container">
    <div class="text-center">
      <h2><strong>GAMING & ESPORTS</strong></h2>
      <p>Welcome to Pixel Playground, the store for you that loves gaming and esports. Over the years, we have built a wide assortment to fit every type of gamer. Regardless if you are looking for a perfect gaming mouse, accessories for your Nintendo Switch, or keycaps to pimp your keyboard, we got what you want. We specialize in products specifically customized for gaming and esports. If you are looking for a new mouse that fits you perfectly, you should check out our wide assortment of gaming mice. Find out which grip is best suited for you to find that perfect aim. Compliment the mouse with new mouse skates and a ripping mousepad to improve your gaming experience. We have the products to take your game to the next level!</p>
      <h4><strong>ARE YOU LOOKING FOR INSPIRATION ?</strong></h4>
      <p>Let us help you find gaming products that enhance your experience. At Pixel Playground, we are committed to helping gamers everywhere take their gaming and esports experiences to the next level. Our range of gaming products has been specially designed with the gamer in mind, so you can be sure you're getting the best gaming experience possible. We specialize in providing gamers with products tailored to their specific needs, e.g., specialized gaming mice with different grips or customizable RGB lighting solutions for those who want to light up the setup. We also have a wide range of consoles & accessories that you can buy. Our commitment to providing players everywhere with the best possible products and services makes Pixel Playground the perfect place to find all the equipment you need to have an exceptional gaming experience. Whether you play on console, PC, mobile, or other devices, we have the latest products to suit your gaming style.</p>
      <h4><strong>BUY GAMING PRODUCTS FROM PIXEL PLAYGROUND !</strong></h4>
      <p>By working closely with many distributors and esports organizations across the whole world, we can offer unique products and competitive prices. We have put in a lot of work to find the most sought-after products in the business, whether it's a limited edition mouse, a mousepad to support your favorite esports team, or new thumbsticks to improve your control. With worldwide delivery, safe payment options, and exceptional customer support, you never have to feel stressed about shopping at Pixel Playground.</p>
    </div>
  </div>

  