
<link rel="stylesheet" href="/stylesheets/loginstyle.css">
<!-- Login Form -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form id="loginForm" action="/login" method="POST" class="login-form">
        <h2>WELCOME</h2>
        <div class="form-group">
          <label for="loginEmail">Email:</label>
          <input type="email" id="loginEmail" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="loginPassword">Password:</label>
          <input type="password" id="loginPassword" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <p>Don't have an account? <a href="#" id="signupLink">Signup</a></p>
      </form>
      <form id="signupForm" action="/signup" method="POST" class="signup-form d-none">
        <h2>SIGNUP</h2>
        <div class="form-group">
          <label for="signupEmail">Email:</label>
          <input type="email" id="signupEmail" name="email" class="form-control" autocomplete="off" required>
        </div>
        <div class="form-group">
          <label for="signupPassword">Password:</label>
          <input type="password" id="signupPassword" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
        <p>Already have an account? <a href="#" id="loginLink">Login</a></p>
      </form>
    </div>
  </div>
</div>

<script>
  document.getElementById("signupLink").addEventListener("click", function() {
    document.getElementById("loginForm").classList.add("d-none");
    document.getElementById("signupForm").classList.remove("d-none");
  });

  document.getElementById("loginLink").addEventListener("click", function() {
    document.getElementById("signupForm").classList.add("d-none");
    document.getElementById("loginForm").classList.remove("d-none");
  });
</script>
