

<link rel="stylesheet" href="/stylesheets/admin.css">
<div class="center-container">
    <a href="/userdata">
      <div class="card">
        <img src="/images/Icons/Users.png" alt="Image 1">
        <div class="card-name">USERS</div>
      </div>
    </a>
    <a href="/dashboard">
      <div class="card">
        <img src="/images/Icons/Games.png" alt="Image 2">
        <div class="card-name">VIDEO GAMES</div>
      </div>
    </a>
    <a href="/consoles2">
      <div class="card">
        <img src="/images/Icons/Consoles.png" alt="Image 3">
        <div class="card-name">CONSOLES</div>
      </div>
    </a>
  </div>